pandas>=1.5
numpy>=1.23
matplotlib>=3.5
seaborn>=0.12
scikit-learn>=1.1
lightgbm>=3.3
prophet>=1.1
yfinance>=0.2
joblib>=1.2
tensorflow>=2.12
statsmodels>=0.14
jupyterlab
notebook
ipykernel
python-dateutil